.draggable-tree-item {
  display: flex;
}
.draggable-tree-item[draggable=true] {
  cursor: grab;
}
.draggable-tree-item__dragging {
  opacity: 0.2;
}
.draggable-tree-item__target {
  border-top: 1px solid #ccc;
}
.draggable-tree-item__placeholder {
  min-height: 1em;
  margin: 0;
}